flask
PyYAML
requests
parameterized
python-coveralls
pytest-cov
flask_swagger_ui
requests_toolbelt
py_eureka_client==0.8.7
flask_cors
fluent-logger
Jinja2
pyinstaller
setuptools==44.0.0
jproperties
psutil
# pypiwin32 #for windows pyinstalller