flask
flask_cors
flask_httpauth
PyYAML
requests
parameterized
python-coveralls
pytest-cov
flask_swagger_ui
requests_toolbelt
py_eureka_client==0.10.0
fluent-logger
Jinja2
setuptools==44.0.0
jproperties
psutil
pyinstaller
six
# pypiwin32 #for windows pyinstalller
