flask
flask_cors
flask_httpauth
PyYAML
requests
parameterized
python-coveralls
pytest-cov
flask_swagger_ui
requests_toolbelt
py_eureka_client
fluent-logger
Jinja2
jproperties
psutil
setuptools
pyinstaller
# pypiwin32 #for windows pyinstalller
